@mixin radius_common($radius: 10px){
    border-radius: $radius;
}

@mixin bt($w, $h, $color, $radius) {
    outline: none;
    // border: none;
    width: $w;
    height: $h;
    background-color: $color;
    @include radius_common($radius)
}